button {
    cursor: pointer;
}

a.btn-primary,
a.btn-secondary,
.btn-primary,
.btn-secondary {
    display: grid;
    align-items: center;

    padding: 1.2rem 1.6rem;
    font-size: var(--text-button);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-base);
    border: none;

    font-family: inherit;
    text-decoration: none;
    color: var(--color-text);
}

.btn-primary {
    background: var(--color-primary);
}

.btn-secondary {
    background: var(--color-secondary);
}

.button-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 100%;

    .back {
        justify-self: start;
    }

    .next {
        justify-self: end;
    }

    .center {
        justify-self: center;
    }
}

.button-wrapper.error {
    animation: shake 0.2s ease-in-out 0s 2;
}
