form {
    font-size: var(--text-md);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    row-gap: 0.6rem;
    column-gap: 1.2rem;
    margin-bottom: 2.4rem;
}

form.error button,
form.error input {
    animation: shake 0.2s ease-in-out 0s 2;
}

form label {
    grid-column: 1 / -1;
    justify-self: start;
    font-size: var(--text-sm);
}

form button {
    border: 1px solid var(--color-secondary);
    background: var(--color-primary);
    color: #fff;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 4px;
}

form span {
    grid-column: 1 / -1;
    color: red;
    justify-self: start;
}

input[type='text'] {
    height: 4.8rem;
    border-radius: 4px;
    padding: 0 24px;
    font-size: 1.6rem;
    border: 1px solid var(--color-secondary);
}

input[type='text']:focus {
    border: 1px solid var(--color-black);
}

/* 
input[type='text']::placeholder {
    color: var(--color-secondary);
}
*/
