ul {
    display: grid;
    align-content: start;
    row-gap: 1.2rem;

    padding: 1.2rem 0;
}

ul li {
    display: grid;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    height: min-content;

    background: var(--color-white);
    box-shadow: var(--shadow-base);
    font-size: 1.8rem;
    border-radius: 4px;
    overflow: hidden;
    text-transform: capitalize;
}

ul li div {
    grid-column: 1 / 2;
    display: grid;
    align-content: center;
    box-shadow: var(--shadow-base);
    font-size: 1.8rem;
    background: var(--color-white);
}

ul li span {
    grid-column: 2 / 3;
}

/* List Item Trash Button */
ul li button {
    grid-column: 3 / 4;
    padding: 1.2rem;
    background: var(--color-red);
    font-size: 2.8rem;
    border: none;
    display: grid;
    align-items: center;
    color: white;
}

.ranked-list {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: calc(100vw - 48px);
    max-width: 400px;
    margin: 1.2rem auto;
}
