html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;
}

:root {
    --color-primary: hsl(177, 20%, 61%);
    --color-secondary: hsl(0, 0%, 48%);
    --color-subtle: hsl(206, 64%, 98%);
    --color-black: hsl(0, 0%, 18%);

    --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 5.6rem;
    font-weight: 100;
}

h2 {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 700;
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 3.2rem;
    }
}

button {
    cursor: pointer;
}

a.btn-primary,
a.btn-secondary,
.btn-primary,
.btn-secondary {
    display: grid;
    align-items: center;

    padding: 12px 16px;
    font-size: 1.8rem;
    border-radius: 4px;

    text-decoration: none;
    color: var(--color-black);
}

.btn-primary {
    background: var(--color-primary);
    border: 1px solid var(--color-secondary);
}

.btn-secondary {
    background: var(--color-secondary);
    border: 1px solid var(--color-primary);
}

input[type='text'] {
    height: 48px;
    border-radius: 4px;
    padding: 0 24px;
    font-size: 1.6rem;
    border: 1px solid var(--color-secondary);
}

input[type='text']:focus {
    border: 1px solid var(--color-black);
}

/* 
input[type='text']::placeholder {
    color: var(--color-secondary);
}
*/

form {
    font-size: 1.6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    row-gap: 0.6rem;
    column-gap: 1.2rem;
    margin-bottom: 2.4rem;
}

form.error button,
form.error input {
    animation: shake 0.2s ease-in-out 0s 2;
}

form label {
    grid-column: 1 / -1;
    justify-self: start;
}

form button {
    border: 1px solid var(--color-secondary);
    background: var(--color-primary);
    color: #fff;
    height: 48px;
    width: 48px;
    border-radius: 4px;
}

form span {
    grid-column: 1 / -1;
    color: red;
    justify-self: start;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.subtitle {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.content-wrapper {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    display: grid;
    align-content: start;
    width: calc(100vw - 48px);
    max-width: 400px;
    margin: 1.2rem auto;
}

.message {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.button-wrapper {
    grid-row: -2 / -1;
    grid-column: 1 / 2;
}

.button-wrapper.error {
    animation: shake 0.2s ease-in-out 0s 2;
}
