:root {
    --color-black: hsl(0, 0%, 18%);
    --color-gray: hsl(0, 0%, 48%);
    --color-white: hsl(0, 0%, 100%);
    --color-red: hsl(0, 100%, 39%);

    --color-turquoise: hsl(177, 20%, 61%);
    --color-blue-light: hsl(206, 64%, 98%);

    // Theme
    --color-text: var(--color-black);
    --color-primary: var(--color-turquoise);
    --color-secondary: var(--color-gray);
    --color-subtle: var(--color-blue-light);
}
