h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: var(--text-xl);
    font-weight: var(--weight-thin);
}

h2 {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
}
