.font {
    &--bold {
        font-weight: var(--weight-bold);
    }

    &--thick {
        font-weight: var(--weight-thick);
    }

    &--thin {
        font-weight: var(--weight-thin);
    }
}

.color {
    &--primary {
        color: var(--color-primary);
    }

    &--secondary {
        color: var(--color-secondary);
    }
}
